menu "AUD_INTF_CONFIG"
	config AUD_INTF
		bool "Enable Audio Interface API"
		default n

	config AUD_INTF_TEST
		depends on AUD_INTF
		bool "enable Audio interface test"
		default n

endmenu

menu "AUD_TRAS_CONFIG"
	config AUDIO_TRANSFER
		bool "Enable Audio Transfer Feature"
		default n

	choice AUD_TRAS_MODE
		prompt "Audio Transfer Mode"
		default AUD_TRAS_MODE_CPU1

		config AUD_TRAS_MODE_CPU0
			depends on AUDIO_TRANSFER
			bool "Audio Transfer in CPU0"

		config AUD_TRAS_MODE_CPU1
			depends on AUDIO_TRANSFER
			bool "Audio Transfer in CPU1"

	endchoice

	config AUD_TRAS_AEC_DUMP_DEBUG
		depends on AUDIO_TRANSFER
		bool "enable Audio Transfer AEC dump debug"
		default n

	choice AUD_TRAS_AEC_DUMP_MODE
		prompt "Audio Transfer AEC Dump Mode"
		default AUD_TRAS_AEC_DUMP_MODE_TF

		config AUD_TRAS_AEC_DUMP_MODE_TF
			depends on AUD_TRAS_AEC_DUMP_DEBUG
			bool "Audio Transfer AEC Dump by TFcard"

		config AUD_TRAS_AEC_DUMP_MODE_UART
			depends on AUD_TRAS_AEC_DUMP_DEBUG
			bool "Audio Transfer AEC Dump by Uart"

		config AUD_TRAS_AEC_DUMP_MODE_WIFI
			depends on AUD_TRAS_AEC_DUMP_DEBUG
			bool "Audio Transfer AEC Dump by udp"

		choice AUD_TRAS_AEC_DUMP_MODE_WIFI_MODE
			prompt "Audio Transfer AEC WIFI Mode"
			default AUD_TRAS_AEC_DUMP_MODE_UDP

			config AUD_TRAS_AEC_DUMP_MODE_UDP
				depends on AUD_TRAS_AEC_DUMP_MODE_WIFI
				bool "Audio Transfer AEC Dump by UDP"

			config AUD_TRAS_AEC_DUMP_MODE_TCP
				depends on AUD_TRAS_AEC_DUMP_MODE_WIFI
				bool "Audio Transfer AEC Dump by TCP"

		endchoice

	endchoice

	config AUD_TRAS_AEC_DUMP_UART_BAUDRATE
		depends on AUD_TRAS_AEC_DUMP_MODE_UART
		int "Audio Transfer AEC dump uart baudrate"
		range 921600 2000000
		default 921600

	config AUD_TRAS_AEC_DUMP_UART_ID
		depends on AUD_TRAS_AEC_DUMP_MODE_UART
		int "Audio Transfer AEC dump uart id"
		range 0 2
		default 1

	config AUD_TRAS_LOST_COUNT_DEBUG
		depends on AUDIO_TRANSFER
		bool "enable Audio Transfer lost count debug"
		default n

	config AUD_TRAS_AEC_MIC_DELAY_DEBUG
		depends on AUDIO_TRANSFER
		bool "enable Audio Transfer AEC mic Delay debug"
		default n

	config AUD_TRAS_AEC_MIC_DELAY_POINTS
		depends on AUDIO_TRANSFER
		int "Audio Transfer AEC mic Delay points"
		range 1 320
		default 54

	config AUD_TRAS_DAC_DEBUG
		depends on AUDIO_TRANSFER
		bool "Audio Transfer DAC ERROR DEBUG"
		default n

	config AUD_TRAS_DAC_PA_CTRL
		depends on AUDIO_TRANSFER
		bool "Audio Transfer DAC PA Control Enable"
		default n

	config AUD_RING_BUFF_SAFE_INTERVAL
		int "Audio ring buff safe interval"
		range 0 320
		default 0
endmenu