menu "Bk_rtos"

	config CUSTOMIZE_HEAP_SIZE
		int "Set Customize Heap Size"
		default 163840
		help
			customize heap size, default 160k

	menu "Modify FreeRTOS Config"

		config FREERTOS
			bool "Enable FreeRTOS"
			default y

		config MEM_MGMT
			bool "Enable Mem Mgmt"
			default n
			help
				Enable heap management module

		choice FREERTOS_VER
			depends on FREERTOS
			prompt "Select FreeRTOS Version"
			default FREERTOS_V9

			config FREERTOS_V9
				bool "FreeRTOS v9.0.0"
			config FREERTOS_V10
				bool "FreeRTOS v10"
		endchoice

		config FREERTOS_POSIX
			depends on FREERTOS_V10
			bool "Enable FreeRTOS Posix"
			default n

		config FREERTOS_USE_TICKLESS_IDLE
			depends on FREERTOS_V10
			int "Set FreeRTOS Use Tickless Idle"
			default 2
			help
				Use tickless idle, can be 0/1/2

	endmenu

	menu "Modify LITEOS_M Config"

		config LITEOS_M
			bool "Enable Liteos_m"
			default n

		config LITEOS_M_V3
			bool "Enable Liteos_m_v3"
			default n
			help
				liteos_m v3.0.1-LTS

		config LITEOS_M_BK
			depends on LITEOS_M_V3
			bool "Enable Liteos_m_bk"
			default n
			help
				liteos_m bk adapter

	endmenu

	menu "Modify NON_OS Config"
	
		config NON_OS
			bool "Enable Non_os"
			default n

	endmenu

	menu "Modify Memory Debug Config"

		config MALLOC_STATIS
			bool "Enable Malloc Statis"
			default n
			help
				enable malloc statistics

		config MEM_DEBUG
			bool "Enable Mem Debug"
			default n
			help
				When this option is enable, more memory will be consumed because
				a fixed length debug block will be appended to every memory allocated
				from heap.
				Moreover, suggest disable task/watchdog when this option is enabled
				in case os_dump_memory_stats() triggers watchdog.

		config MEM_DEBUG_FUNC_NAME
			depends on MEM_DEBUG
			bool "Enable Mem Debug Func Name"
			default y

		config MEM_DEBUG_FUNC_NAME_LEN
			depends on MEM_DEBUG_FUNC_NAME
			int "Set Mem Debug Func Name Len"
			default 16
			help
				set memory debug function name length

		config MEM_DEBUG_TASK_NAME
			depends on MEM_DEBUG
			bool "Enable Mem Debug Task Name"
			default y

		config MEM_DEBUG_TASK_NAME_LEN
			depends on MEM_DEBUG_TASK_NAME
			int "Set Mem Debug Task Name Len"
			default 8
			help
				set memory debug task name length

	endmenu

endmenu
