<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configs SELEFILE="C:\Users\yong\Desktop\tst\beken7231_bsp.bin" SAVEFILE="C:\Users\yong\Desktop\tst\beken7231_bsp.rbl" COMPRESS="3" CRYPT="1" KEY="0123456789ABCDEF0123456789ABCDEF" IV="0123456789ABCDEF" NAME="app" VERSION="20191018" />
</configuration>