CONFIG_SPE=0
CONFIG_ATE=n

CONFIG_PRINT_PORT_UART2=y
CONFIG_UART_PRINT_PORT=1

CONFIG_INT_AON_WDT=n
CONFIG_AON_WDT=n

CONFIG_UART_LOW_VOLTAGE_SUPPORT=n
CONFIG_GPIO_WAKEUP_SUPPORT=n
CONFIG_GPIO_DYNAMIC_WAKEUP_SUPPORT=n
CONFIG_GPIO_DYNAMIC_WAKEUP_SOURCE_MAX_CNT=4
CONFIG_GPIO_WAKEUP_DEBUG=n
CONFIG_GPIO_DEFAULT_SET_SUPPORT=n

CONFIG_PM_DSSS_ONLY=n
