#
# Feature fast connect
#
CONFIG_WIFI_FAST_CONNECT=y
CONFIG_WIFI_FAST_DHCP=y
CONFIG_IPV6=n
CONFIG_SAVE_BOOT_TIME_POINT=n

#
# Compile/Build
#

CONFIG_MEMDUMP_ALL=y
#CONFIG_PRINT_PORT_UART1=n
#CONFIG_PRINT_PORT_UART2=y
#CONFIG_UART_PRINT_PORT=1

#
# Application
#

# CONFIG_FTPD_UPGRADE is not set
CONFIG_OTA=y
CONFIG_HTTP_AB_PARTITION=y
CONFIG_OTA_UPDATE_DEFAULT_PARTITION=y
CONFIG_OTA_UPDATE_B_PARTITION=n
CONFIG_OVERRIDE_FLASH_PARTITION=y
# end of Application

#
# System
#
CONFIG_DUAL_CORE=y
CONFIG_MASTER_CORE=y
# CONFIG_SLAVE_CORE_OFFSET 3604480 == 0x370000 in bk7256_cp1_bsp.ld
CONFIG_SLAVE_CORE_OFFSET=3604480
CONFIG_SLAVE_CORE_RESET_VALUE=1

#
# easyflash
#
CONFIG_EF_START_ADDR=0x3FB000


#
# Close test module
#
CONFIG_AT_CMD=n
CONFIG_FFT_TEST=n
CONFIG_ALI_MQTT=n
CONFIG_IPERF_TEST=n
CONFIG_PERI_TEST=n
CONFIG_IDLE_UART_OUT_TEST=n
CONFIG_COMPONENTS_WPA_TWT_TEST=n
CONFIG_COMMON_IO=n
CONFIG_AON_RTC_TEST=n
CONFIG_DMA2D_TEST=n
CONFIG_AUDIO_G711_TEST=n
CONFIG_AUDIO_TEST=n
CONFIG_AUDIO_MP3_TEST=n
CONFIG_AUDIO_RSP_TEST=n
CONFIG_AUDIO_NS_TEST=n
CONFIG_AUD_INTF_TEST=n
CONFIG_AUDIO_VAD_TEST=n
CONFIG_AUDIO_AEC_TEST=n
CONFIG_LCD_TEST=n

CONFIG_FATFS=y
CONFIG_FATFS_SDCARD=y
CONFIG_SDIO_HOST=y
CONFIG_SDIO_HOST_DEFAULT_CLOCK_FREQ=y
CONFIG_SDCARD=y
CONFIG_SDIO_V2P0=y

CONFIG_MEM_DEBUG=n
#MEM_DEBUG_FUNC_NAME=y
#CONFIG_MEM_DEBUG_FUNC_NAME_LEN=8
#MEM_DEBUG_TASK_NAME=y
#CONFIG_MEM_DEBUG_TASK_NAME_LEN=8

CONFIG_JPEGENC_HW=n
CONFIG_CAMERA=n
CONFIG_USE_APP_DEMO_VIDEO_TRANSSER=n
CONFIG_APP_DEMO_VIDEO_TRANSFER=n
CONFIG_NET_WORK_VIDEO_TRANSFER=n
CONFIG_CAMERA_USE_I2C1=n
CONFIG_CAMERA_TEST=n
CONFIG_I2C=n
CONFIG_SIM_I2C=n

CONFIG_LCD_ST7710S=n
#
# Relative path for armino
#
#CONFIG_TOOLCHAIN_PATH="../../toolchain/opt/risc-v/nds32le-elf-mculib-v5/bin"