menu "Startup"
	config APP_MAIN_TASK_PRIO
		int "Priority of application main task"
		range 1 10
		default 4

	config APP_MAIN_TASK_STACK_SIZE
		int "Stack size of application main task"
		default 4096

	config MATTER_START
		bool "enable matter auto start"
		default n

endmenu
