
#
#WI-FI
#

CONFIG_WIFI_ENABLE=n

#
# System
#
CONFIG_DUAL_CORE=n
CONFIG_MAILBOX=n

CONFIG_BLE=y
CONFIG_BLE_5_X=n
CONFIG_BTDM_5_2=n
CONFIG_BTDM_5_2_MINDTREE=y
CONFIG_BLE_HOST_RW=n
CONFIG_BLE_HOST_ETHERMIND=y
CONFIG_BT=y
CONFIG_AUDIO_SBC=y

CONFIG_AVDTP=y
CONFIG_A2DP=y
CONFIG_A2DP_SINK=y

CONFIG_AVCTP=y
CONFIG_AVRCP=y
CONFIG_AVRCP_TG=y
CONFIG_AVRCP_CT=y

CONFIG_BLE_ADV_NUM=1
CONFIG_BLE_SCAN_NUM=1
CONFIG_BLE_INIT_NUM=1
CONFIG_BLE_CONN_NUM=2
CONFIG_BT_CONN_NUM=2

CONFIG_SLAVE_CORE=n
CONFIG_MASTER_CORE=n
CONFIG_CACHE_ENABLE=y
CONFIG_SDCARD_HOST=n
CONFIG_SDCARD_BUSWIDTH_4LINE=n