#TODO may need to remove this component!
menu "BK_system"

	choice BASE_MAC_SRC
		prompt "Select Base Mac Source"
		default BASE_MAC_FROM_RF_OTP_FLASH

		config BASE_MAC_FROM_EFUSE
			bool "BASE_MAC_FROM_EFUSE"
		config BASE_MAC_FROM_RF_OTP_FLASH
			bool "BASE_MAC_FROM_RF_OTP_FLASH"
		config BASE_MAC_FROM_NVS
			bool "BASE_MAC_FROM_NVS"
	endchoice

	config RANDOM_MAC_ADDR
        bool "Enable Random Mac Addr"
        default n

	config NEW_MAC_POLICY
	bool "Enable Mac Addr"
	default n

endmenu
