menu "Bk_cli"

	menu "Modify Cli Config"

		config CLI
			bool "Enable Cli"
			default y

		config CLI_USER_CONFIG
			depends on CLI
			bool "Enable Cli User Config"
			default n
			help
				support cli user configuration header

		config CLI_USER_CONFIG_DIR
			depends on CLI_USER_CONFIG
			string "Define Cli User Config Dir"
			default ""
			help
				cli user configuration header directory

		config BKREG
			depends on CLI
			bool "Enable Bkreg"
			default y
			help
				Enable BK Reg read/write

		config MAX_COMMANDS
			depends on CLI
			int "Set Max Commands"
			range 0 65535
			default 255
			help
				MAX number of commands is configured by default

		config IPERF_TEST
			depends on CLI
			bool "Enable Iperf Test"
			default y

		config TCP_SERVER_TEST
			depends on CLI
			bool "Enable Tcp Server Test"
			default n

		config AIRKISS_TEST
			depends on CLI
			bool "Enable Airkiss Test"
			default n

		config WIFI_RAW_TX_TEST
			depends on CLI
			bool "Enable Wifi Raw Tx Test"
			default n

		config CONNECT_THROUGH_PSK_OR_SAE_PASSWORD
			depends on CLI
			bool "Enable connect through psk or sae password"
			default n

		config VFS_TEST
			depends on CLI
			bool "Enable Vfs Test"
			default n

		#TODO Exculsive??
		config I2C1_TEST
			depends on CLI
			bool "Enable I2C1 Test"
			default n

		config I2C2_TEST
			depends on CLI
			bool "Enable I2C2 Test"
			default n

		config UART_TEST
			depends on CLI
			bool "Enable Uart Test"
			default n

		config SPI_TEST
			depends on CLI
			bool "Enable SPI Test"
			default n

		config PERI_TEST
			depends on CLI
			bool "Enable Peri Test"
			default n

		config RF_OTA_TEST
			depends on CLI
			bool "Enable Rf Ota Test"
			default n

		config SHELL_ASYNCLOG
			depends on CLI
			bool "Enable Shell Asynclog"
			default n
			help
				Enable Shell and Async log optimize

		config TOUCH_TEST
			depends on CLI
			bool "Enable Touch Test"
			default n

		config SBC_TEST
			depends on CLI
			bool "Enable Sbc Test"
			default n

		config AUDIO
			depends on CLI
			bool "Enable Audio"
			default n

		config PSRAM_TEST
			depends on CLI
			bool "Enable Psram Test"
			default n

		config CAMERA_TEST
			depends on CLI
			bool "Enable Camera Test"
			default n

		config SPE_TEST
			depends on CLI
			bool "Enable Spe Test"
			default n

		config MPC_TEST
			depends on CLI
			bool "Enable Mpc Test"
			default n

		config PRRO_TEST
			depends on CLI
			bool "Enable Prro Test"
			default n

		config INTERRUPT_TEST
			depends on CLI
			bool "Enable Interrupt Test"
			default n

		config AON_PMU_TEST
			depends on CLI
			bool "Enable Aon Pmu Test"
			default n

		config SDMADC_TEST
			depends on CLI
			bool "Enable Sdmadc Test"

		config PM_TEST
			depends on CLI
			bool "Enable Pm Test"
			default n

		config EFUSE
			bool "Enable Efuse"
			default y

		config ICU
			bool "Enable Icu"
			default y

		config SECURITYIP
			bool "Enable Securityip"
			default n
			help
				Enable SecurityIP

		config KEYVALUE
			bool "Enable Keyvalue"
			default n

		config IDLE_UART_OUT_TEST
			bool "Enable Idle Uart Out Test"
			default n

		config COMPONENTS_WPA2_ENTERPRISE
			bool "Enable Components Wpa2 Enterprise"
			default n

		config COMPONENTS_WPA_TWT_TEST
			bool "Enable Wpa Twt Test"
			default n

		config COMPONENTS_WFA_CA
			bool "Enable Components Wfa Ca"
			default n

		config ENABLE_WIFI_DEFAULT_CONNECT
			bool "Enable Wifi Default Connect"
			default n
			
		config OTP
			bool "Enable OTP"
			default y

		config RTC_TIMER_PRECISION_TEST
			bool "Enable RTC Timer precision test"
			default n

		config RTC_TIMER_PRECISION_TEST_BY_GPIO
			bool "Enable RTC Timer precision test"
			default n
	endmenu

	menu "Modify Dual Core Config"

		config DUAL_CORE
			bool "Enable Dual Core"
			default n
			help
				Dual cpu core run as master core

		config SLAVE_CORE
			depends on DUAL_CORE
			bool "Enable Slave Core"
			default n
			help
				Dual cpu core run as slave core

		config MASTER_CORE
			depends on DUAL_CORE
			bool "Enable Master Core"
			default n
			help
				Dual cpu core run as master core

		config SLAVE_CORE_OFFSET
			depends on MASTER_CORE
			int "Set Slave Core Offset"
			range 0 268435456
			default 3014656
			help
				Slave core offset address default 0x2e0000

		config SLAVE_CORE_RESET_VALUE
			depends on MASTER_CORE
			int "Set Slave Core Reset Value"
			range 0 1
			default 1

		config EFUSE
			bool "Enable Efuse"
			default y

		config ICU
			bool "Enable Icu"
			default y

		config RWNX_PROTO_DEBUG
			bool "Enable Rwnx Proto Debug"
			default n

	endmenu

endmenu
