menu "PWR_CLK"
	config EXTERN_32K
		bool "Use an external 32k crystal"
		default n
	config MEM_AUTO_POWER_DISABLE
		bool "mem auto power disable"
		default n
	config CP1_AUTO_POWER_DISABLE
		bool "cp1 auto power disable"
		default n
endmenu

