menu "Demos::Os"
	config OS_THREAD_DEMO
		bool "Enable Os Thread Demo"
		default n

	config OS_QUEUE_DEMO
		bool "Enable Os Queue Demo"
		default n

	config OS_SEM_DEMO
		bool "Enable Os Sem Demo"
		default n
		help
			enable os semaphore demos

	config OS_MUTEX_DEMO
		bool "Enable Os Mutex Demo"
		default n

	config OS_TIMER_DEMO
		bool "Enable Os Timer Demo"
		default n
endmenu
