#
# Compile/Build
#
CONFIG_LVGL=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_COLOR_DEPTH=16
CONFIG_TP=y
CONFIG_LVGL_DEMO=y
CONFIG_BLUETOOTH=n
CONFIG_LCD_QSPI=n
CONFIG_LCD_QSPI_TEST=n
CONFIG_LCD_DMA2D_BLEND=n
CONFIG_LV_USE_DEMO_METER=y
CONFIG_LVGL_USE_PSRAM=y
CONFIG_DOORBELL=n
CONFIG_PSRAM_TEST=n