#### Cpu1 config ####
CONFIG_SYS_CPU1=y
CONFIG_DUAL_CORE=y
CONFIG_SLAVE_CORE=y
CONFIG_MAILBOX=y

#### Cpu1 log and cmd use mailbox
#CONFIG_UART3=y
#CONFIG_UART_PRINT_PORT=2

CONFIG_ATE=n
CONFIG_BLE=n
CONFIG_BKREG=n
CONFIG_BLUETOOTH=n
CONFIG_BLE_WIFI_EXCHANGE=n
CONFIG_WIFI_ENABLE=n
CONFIG_WIFI_RWNX=n
CONFIG_WIFI_IP_AX_NEXT=n
CONFIG_BK_AIRKISS=n
CONFIG_TEMP_DETECT=n
CONFIG_RF_POLICY_SUPPORT=n
CONFIG_CALI=n
CONFIG_BK_HOSTAPD=n
CONFIG_SARADC=n

CONFIG_POWER_SAVE=n
CONFIG_PM_V2=n
CONFIG_STA_PS=n
CONFIG_HOMEKIT=n
CONFIG_LWIP=n
CONFIG_BK_NETIF=n
CONFIG_HTTP=n
CONFIG_ALI_MQTT=n
CONFIG_OTA_HTTP=n
CONFIG_IPERF_TEST=n
CONFIG_DEMOS_IPERF=n
CONFIG_RF_TEST=n

#### Common config ####
CONFIG_SPE=1
CONFIG_MCU_PS=n
CONFIG_DEEP_PS=n
CONFIG_MAC_RESET_BCMC_AUTO_MODE=n
CONFIG_MAC_KEEP_ALIVE_PERIOD_AUTO_MODE=n
CONFIG_MQTT_ARP_ALIGN_EN=n
CONFIG_DHCP_PROTECT_IN_CONNECTED=n
CONFIG_TCP_PROTECT_IN_CONNECTED=n
CONFIG_BK_MEMORY_CUT_EN=n
CONFIG_NX_HW_PARSER_TIM_ELEMENT=n
CONFIG_MAC_SUPPORT_DYNAMIC_CPU_FREQ=n
CONFIG_MAC_PM_ROSC_CALI=n
CONFIG_NX_MEDIA_DYNC_DTIM=n
CONFIG_PER_PACKET_INFO_OUTPUT=n
CONFIG_MAC_SFRAME_SOFTWARE_RETRY=n
CONFIG_NX_OTA_DYNC_DTIM=n
CONFIG_WPA_AUTH_TIMEOUT=10
CONFIG_WIFI_CORE_TASK_STACK_SIZE=4096
CONFIG_MINIMIZE_SCAN_RESULT_IE=y
CONFIG_WPA_SUPPLICANT_2_9=n
CONFIG_WPA_SUPPLICANT_2_10=n
CONFIG_WIFI_OWE=y
CONFIG_WIFI_OCV=y
CONFIG_BK_NO_CHECK_RX_PN=y
CONFIG_BK_INTEROPER=y
