#The value config in bk7235.defconfig will over write the Kconfig's default value.
#The value config in bk7235.defconfig will over write the Kconfig's default value.
#If the default value in Kconfig satisfy your needs, then you needn't to config again here.


#
# Compile/Build
#
CONFIG_TOOLCHAIN_PATH="/opt/risc-v/nds32le-elf-mculib-v5/bin"

#CONFIG_MATTER_START=y
CONFIG_MATTER_NAMEKEY=y
CONFIG_MBEDTLS=y
CONFIG_LWIP_V2_1=y
CONFIG_IPV6=y

CONFIG_SUPPORT_MATTER=y
