#The value config in common.defconfig will over write the Kconfig's default value.
#The value config in common.defconfig will over write the Kconfig's default value.
#If the default value in Kconfig satisfy your needs, then you needn't to config again here.


#
# Compile/Build
#

CONFIG_KEYVALUE=y
CONFIG_MBEDTLS=y
CONFIG_AUTOIP=y
CONFIG_MDNS=y


