#### Cpu1 config ####
CONFIG_SYS_CPU1=y
CONFIG_DUAL_CORE=y
CONFIG_SLAVE_CORE=y
CONFIG_MAILBOX=y
CONFIG_SHELL_ASYNCLOG=y
CONFIG_MASTER_CORE=n

#### Cpu1 log and cmd use mailbox
#CONFIG_UART3=y
#CONFIG_UART_PRINT_PORT=2

CONFIG_MPU=y
CONFIG_CACHE_ENABLE=y
CONFIG_AON_RTC=n
CONFIG_AON_WDT=n
CONFIG_NMI_WDT_EN=n
CONFIG_MEM_DEBUG=y

CONFIG_PSRAM_AS_SYS_MEMORY=y
CONFIG_PSRAM_HEAP_BASE=0x60780000
CONFIG_PSRAM_HEAP_SIZE=0x80000

CONFIG_ATE=n
CONFIG_BLE=n
CONFIG_BKREG=n
CONFIG_BLUETOOTH=n
CONFIG_BLE_WIFI_EXCHANGE=n
CONFIG_WIFI_ENABLE=n
CONFIG_WIFI6_CODE_STACK=n
CONFIG_WIFI4=n
CONFIG_WIFI6=n
CONFIG_WIFI_RWNX=n
CONFIG_WIFI_IP_AX_NEXT=n
CONFIG_BK_AIRKISS=n
CONFIG_TEMP_DETECT=n
CONFIG_RF_POLICY_SUPPORT=n
CONFIG_CALI=n
CONFIG_BK_HOSTAPD=n
CONFIG_SARADC=n

CONFIG_POWER_SAVE=n
CONFIG_STA_PS=n
CONFIG_HOMEKIT=n
CONFIG_LWIP=n
CONFIG_BK_NETIF=n
CONFIG_HTTP=n
CONFIG_ALI_MQTT=n
CONFIG_OTA_HTTP=n
CONFIG_IPERF_TEST=n
CONFIG_DEMOS_IPERF=n

CONFIG_EFUSE=n

CONFIG_APP_DEMO_VIDEO_TRANSFER=n
CONFIG_CAMERA_TEST=n
CONFIG_AON_PMU_TEST=n
CONFIG_RF_TEST=n
CONFIG_FPGA=n
CONFIG_TRNG_SUPPORT=n
CONFIG_SDIO=n

#
#GPIO for Power Save: WANIING: modify it should check properties/soc/bk7256/bk7256.defconfig also
#
CONFIG_GPIO_WAKEUP_SUPPORT=n
CONFIG_GPIO_DYNAMIC_WAKEUP_SUPPORT=n
CONFIG_GPIO_DYNAMIC_WAKEUP_SOURCE_MAX_CNT=4
CONFIG_GPIO_WAKEUP_DEBUG=n
CONFIG_DEBUG_FIRMWARE=n
CONFIG_GPIO_DEFAULT_SET_SUPPORT=n

#
# USB configuration
#
CONFIG_USB=y
CONFIG_USB_HOST=y
CONFIG_TASK_USB_PRIO=5
CONFIG_USB_MSD=n
CONFIG_USB_UVC=y
CONFIG_USB1_PORT=y
CONFIG_USB2_PORT=n
CONFIG_USB_UVC_DEBUG=n
CONFIG_USB_UAC=y
CONFIG_USB_UAC_DEBUG=y
CONFIG_USB_UAC_MIC=y
CONFIG_USB_UAC_SPEAKER=y
# end of USB configuration


#### Common config ####
CONFIG_FATFS=n
CONFIG_FATFS_SDCARD=n
CONFIG_FREERTOS_USE_TICKLESS_IDLE=0
CONFIG_CPU_FREQ_HZ=120000000
CONFIG_XTAL_FREQ=26000000
CONFIG_AON_MPU_REG_DUMP=y
CONFIG_SYS_PS_REG_DUMP=y
CONFIG_DEFAULT_CMSIS_START=n
CONFIG_TFM=n
CONFIG_AT_CMD=n
CONFIG_DEEP_PS=n
CONFIG_SPE=1
CONFIG_PWM=n
CONFIG_CALENDAR=n
CONFIG_MCU_PS=n
CONFIG_INT_WDT=n
CONFIG_TASK_WDT=n
CONFIG_POWER_CLOCK_RF=n
CONFIG_RESET_REASON=n
CONFIG_BLUETOOTH=y
CONFIG_SPE_TEST=y
CONFIG_MPC_TEST=y
CONFIG_AON_RTC_TEST=n
CONFIG_PRRO_TEST=y
CONFIG_INTERRUPT_TEST=y
CONFIG_AON_PMU_TEST=y
CONFIG_CLI_USER_CONFIG=n
CONFIG_CLI_USER_CONFIG_DIR="../../projects/verify/spe/config"
CONFIG_INT_AON_WDT=n
CONFIG_SPE_START=n
CONFIG_ARCH_INT_STATIS=n
CONFIG_I2S_TEST=y

#
# Video
#
CONFIG_DOORBELL=n
CONFIG_MEDIA=y
CONFIG_MEDIA_APP=n
CONFIG_MEDIA_MAJOR=y
CONFIG_WIFI_TRANSFER=y
CONFIG_IMAGE_STORAGE=y

CONFIG_LCD_ST7710S=y
CONFIG_LCD_H050IWV=y
CONFIG_LCD_HX8282=y
CONFIG_LCD_MD0430R=y
CONFIG_LCD_MD0700R=y
CONFIG_LCD_ST7701S=y
CONFIG_LCD_ST7701S_LY=y
CONFIG_LCD_NT35510_MCU=y
CONFIG_LCD_ST7282=y
CONFIG_LCD_ST7796S=y



CONFIG_LCD=y
CONFIG_DMA2D=y
CONFIG_YUV_BUF=y
CONFIG_JPEGENC_HW=y
CONFIG_ENCODE_BUF_DYNAMIC=y
CONFIG_JPEGDEC_HW=y
CONFIG_JPEGDEC_SW=y
CONFIG_H264=y
CONFIG_H264_STATIS=y
CONFIG_CAMERA=y
CONFIG_CAMERA_TEST=y
CONFIG_CAMERA_USE_I2C1=y

CONFIG_LCD_FLASH_JPEG_DISPLAY=n
CONFIG_JPEGDEC_SW=y
CONFIG_HW_ROTATE_PFC=y
CONFIG_LCD_DMA2D_BLEND=y
CONFIG_LCD_FONT_BLEND=y
# end of Video

#
# LVGL
#
CONFIG_LVGL=n
CONFIG_LV_FONT_MONTSERRAT_14=n
# end of LVGL

#
# DMA
#
CONFIG_GENERAL_DMA=y
# end of DMA

# I2C
#
#
CONFIG_I2C=y
CONFIG_FM_I2C=n
#
#bit[0] ID-0 0x1 bit[1] ID-1 0x2
#if support id0 and id1 set 0x3
#
CONFIG_I2C_SUPPORT_ID_BITS=2
#
# end of I2C

#
# timer
#
CONFIG_TIMER=y
#
#bit[0] ID-0 0x1 bit[1] ID-1 0x2
#if support id0 and id1 set 0x3
#
CONFIG_TIMER_SUPPORT_ID_BITS=63
CONFIG_TIMER_US=y
#
# end of timer
#

#
# audio
#
CONFIG_AUDIO=y
#CONFIG_AUDIO_TEST=y
# end of DMA

#
# CONFIG_ANA_REG_WRITE_POLL_REG_B
#
CONFIG_ANA_REG_WRITE_POLL_REG_B=n