config TFM_V17
	bool "Enable TFM_V17"
	default n

menu "TFM"
	depends on TFM_V17

	config TFM_PROFILE
		string "psa level:0(profile_small) 1(profile_medium) 2(profile_large)"
		default "profile_medium"

	config TFM_BUILD_TYPE
		string "build type: debug, release or minsizerel"
		default "debug"

	config TFM_FPGA
		string "Enable FPGA: ON/OFF"
		default "ON"

	config TFM_TEST_S
		string "Enable to TFM secure bin test: ON/OFF"
		default "OFF"

	config TFM_TEST_NS
		string "Enable to TFM non-secure bin test: ON/OFF"
		default "OFF"

	config TFM_BL2_LOG_LEVEL
		string "Set BL2 log level: OFF/ERROR/WARNING/INFO/DEBUG"
		default "DEBUG"

	config TFM_BL2
		string "Enable BL2"
		default "OFF"

	config OTP_NV_COUNTERS_RAM_EMULATION
		string "Enable OTP/NV counter RAM emulation: ON/OFF"
		default "ON"

	config PLATFORM_DEFAULT_OTP_WRITEABLE
		string "Enable platform default OTP writable: ON/OFF"
		default "ON"
endmenu
