menu "FLASH"
	config FLASH
		bool "Enable flash"
		default y

	config FLASH_QUAD_ENABLE
		bool "Enable flash quad enable"
		default n
		
	config FLASH_SRC_CLK_60M
		bool "Enable flash source clock 60M"
		default n
		
	config FLASH_ORIGIN_API
		bool "Enable flash old api"
		default n
endmenu

