CONFIG_WIFI_FAST_CONNECT=n
CONFIG_WIFI_FAST_DHCP=n

#
# System
#
CONFIG_DUAL_CORE=n
CONFIG_MAILBOX=n

CONFIG_BLE=y
CONFIG_BLE_5_X=n
CONFIG_BTDM_5_2=n
CONFIG_BTDM_5_2_MINDTREE=y
CONFIG_BLE_HOST_RW=n
CONFIG_BLE_HOST_ETHERMIND=y
CONFIG_BT=y
CONFIG_AUDIO_SBC=y

CONFIG_RFCOMM=y
CONFIG_SPP=y
CONFIG_HFP_UNIT=y

CONFIG_AVDTP=y
CONFIG_A2DP=y
CONFIG_A2DP_SINK=y
CONFIG_A2DP_SOURCE=y

CONFIG_AVCTP=n
CONFIG_AVRCP=n
CONFIG_AVRCP_TG=n
CONFIG_AVRCP_CT=n