menu "GPIO"
	config GPIO_WAKEUP_SUPPORT
		bool "Enable GPIO WAKEUP system if at low voltage status"
		default n

	config GPIO_DYNAMIC_WAKEUP_SUPPORT
		bool "Enable GPIO dynamic config to wake system if at low volatage status"
		depends on GPIO_WAKEUP_SUPPORT
		default n

	config GPIO_WAKEUP_DEBUG
		bool "Enable GPIO wakeup module debug code"
		depends on GPIO_WAKEUP_SUPPORT
		default n

	config GPIO_DYNAMIC_WAKEUP_SOURCE_MAX_CNT
		int "how many gpio can dynamic set to wakeup system at low power status"
		range 0 48
		default 4
		help
		The value should be changed if need more then 4 gpio

	config CONFIG_GPIO_WAKEUP_ID
		int "specific port for GPIO wakeup"
		range 0 48
		default 22
		help
		Only one port is supported for now

	config CONFIG_GPIO_WAKEUP_INT_TYPE
		int "which intterupt type for GPIO wakeup"
		range 0 3
		default 0
		help
		0: set gpio as low level intterrupt type
		1: set gpio as high level intterrupt type
		2: set gpio as rising edge intterrupt type
		3: set gpio as falling edge intterrupt type

	config GPIO_SIMULATE_UART_WRITE
		bool "Enable GPIO simulate uart write data"
		default n

	config GPIO_DEFAULT_SET_SUPPORT
		bool "Enable GPIO default set devs"
		default n

	config GPIO_ANA_WAKEUP_SUPPORT
		bool "Enable GPIO wakeup system from analog channel"
		default n
		help
			This is for super deep sleep
endmenu

