CONFIG_DUAL_CORE=n
CONFIG_MAILBOX=n
CONFIG_SLAVE_CORE=n
CONFIG_MASTER_CORE=n
CONFIG_CACHE_ENABLE=y
CONFIG_SDCARD_HOST=n
CONFIG_SDCARD_BUSWIDTH_4LINE=n
#
# BLE 5.x
#
# CONFIG_BLE_HOST_NONE is not set
#CONFIG_BLE_HOST_RW=y
# CONFIG_BLE_HOST_ZEPHYR is not set
CONFIG_BLE_MESH_NONE=y
# CONFIG_BLE_MESH_RW is not set
CONFIG_BLE_ADV_NUM=5
CONFIG_BLE_SCAN_NUM=1
CONFIG_BLE_INIT_NUM=1
CONFIG_BLE_CONN_NUM=8
# end of BLE 5.x


#
# WiFi
#
CONFIG_WIFI_IP_AX=y
CONFIG_WIFI6_CODE_STACK=y
CONFIG_WIFI6=y
CONFIG_WIFI4=y
CONFIG_MSDU_RESV_HEAD_LEN=96
CONFIG_MSDU_RESV_TAIL_LEN=16
CONFIG_TASK_RECONNECT_PRIO=4
CONFIG_WIFI6_IP_DEBUG=y
CONFIG_WIFI_MAC_VERSION="V21"
CONFIG_WIFI_MDM_VERSION="v30"
CONFIG_WIFI_PLF_VERSION="v31"
CONFIG_MOBILE_CONNECT_SAP_STATISTICS=y
CONFIG_MM_PS_SET_LISTEN_INTERVAL_VALUE=30
CONFIG_MOBILE_CONNECT_SAP_STATISTICS=y
CONFIG_MM_BEACON_LOSS_INITAL_COEFF=4
CONFIG_MM_BEACON_LOSS_LOW_COEFF=8
CONFIG_MM_BEACON_LOSS_MIDDLE_COEFF=20
CONFIG_MM_BEACON_LOSS_HIGH_COEFF=40
CONFIG_MM_BEACON_LOSS_RSSI_THRESHOLD=-80
CONFIG_MAC_CHAN=y
# CONFIG_RWNX_FAST_CONNECT is not set
# CONFIG_AP_MONITOR_COEXIST is not set
# CONFIG_WIFI_FAST_CONNECT is not set 
# CONFIG_BSSID_CONNECT is not set
# CONFIG_WFA_CERT is not set
# CONFIG_LESS_MEMERY_IN_RWNX is not set
# CONFIG_AP_PROBEREQ_CB is not set
# CONFIG_MM_PS_BASED_ON_LISTEN_INTERVAL is not set
# end of WiFi
