#The value config in bk7256.defconfig will over write the Kconfig's default value.
#The value config in bk7256.defconfig will over write the Kconfig's default value.
#If the default value in Kconfig satisfy your needs, then you needn't to config again here.


#
# Compile/Build
#
#CONFIG_TOOLCHAIN_PATH="/opt/risc-v/nds32le-elf-mculib-v5/bin"
