#
# Feature fast connect
#
CONFIG_LWIP_FAST_DHCP=y
CONFIG_IPV6=n
CONFIG_SAVE_BOOT_TIME_POINT=n

#
# Compile/Build
#

CONFIG_MEMDUMP_ALL=y
CONFIG_PRINT_PORT_UART1=n
CONFIG_PRINT_PORT_UART2=y
CONFIG_UART_PRINT_PORT=1


#
# System
#
CONFIG_DUAL_CORE=y
CONFIG_MASTER_CORE=y
# CONFIG_SLAVE_CORE_OFFSET 65536 == 0x10000 in bk7256_cp1_bsp.ld
CONFIG_SLAVE_CORE_OFFSET=65536
CONFIG_SLAVE_CORE_RESET_VALUE=1


#
# Close test module
#
CONFIG_AT_CMD=n
CONFIG_FFT_TEST=n
CONFIG_ALI_MQTT=n
CONFIG_IPERF_TEST=n
CONFIG_PERI_TEST=n
CONFIG_IDLE_UART_OUT_TEST=n
CONFIG_COMPONENTS_WPA_TWT_TEST=n
CONFIG_COMMON_IO=n
CONFIG_AON_RTC_TEST=n

CONFIG_MEM_DEBUG=n
#MEM_DEBUG_FUNC_NAME=y
#CONFIG_MEM_DEBUG_FUNC_NAME_LEN=8
#MEM_DEBUG_TASK_NAME=y
#CONFIG_MEM_DEBUG_TASK_NAME_LEN=8


#
# Relative path for armino
#
#CONFIG_TOOLCHAIN_PATH="../../toolchain/opt/risc-v/nds32le-elf-mculib-v5/bin"