CONFIG_WIFI_FAST_CONNECT=n
CONFIG_WIFI_FAST_DHCP=n

#
#WI-FI
#

CONFIG_WIFI_ENABLE=n
CONFIG_WIFI_IP_AX=n
CONFIG_WPA_SUPPLICANT_2_9=n
CONFIG_WIFI_RWNX=n
CONFIG_BK_HOSTAPD=n
CONFIG_RF_POLICY_SUPPORT=n
CONFIG_BK_AIRKISS=n

#
# System
#
CONFIG_DUAL_CORE=n
CONFIG_MAILBOX=n

CONFIG_BLE=y
CONFIG_BLE_5_X=n
CONFIG_BTDM_5_2=n
CONFIG_BTDM_5_2_MINDTREE=y
CONFIG_BLE_HOST_RW=n
CONFIG_BLE_HOST_ETHERMIND=y
CONFIG_BT=y
CONFIG_AUDIO_SBC=y

CONFIG_AVDTP=y
CONFIG_A2DP=y
#CONFIG_A2DP_SINK=y
CONFIG_A2DP_SOURCE=y
CONFIG_RFCOMM=y
CONFIG_HFP_UNIT=y
CONFIG_SPP=y
CONFIG_ACLSEMI_ETHERMIND_BLE_PAIR_ENABLE=y

CONFIG_BLE_ADV_NUM=1
CONFIG_BLE_SCAN_NUM=1
CONFIG_BLE_INIT_NUM=1
CONFIG_BLE_CONN_NUM=2
CONFIG_BT_CONN_NUM=2

#CONFIG_BLE_MESH_NONE=n
#CONFIG_BLE_MESH_ZEPHYR=y
#
#CONFIG_BT_MESH_ADV_EXT=y
#CONFIG_BT_MESH_LOW_POWER=y
#CONFIG_BT_MESH_FRIEND=y
#CONFIG_BT_MESH_PROV=y
#CONFIG_BT_MESH_PROV_DEVICE=y
#CONFIG_BT_MESH_PROVISIONER=y
#CONFIG_BT_MESH_PB_ADV=y
#CONFIG_BT_MESH_CFG_CLI=y
#CONFIG_BT_MESH_HEALTH_CLI=y
#CONFIG_BT_MESH_SELF_TEST=y
#CONFIG_BT_MESH_SHELL=y
#CONFIG_BT_MESH_CDB=y
#
#CONFIG_ACLSEMI_BT_MESH_DEBUG_LEVEL=2
#CONFIG_ACLSEMI_BT_MESH_LOOPBACK=n






CONFIG_LVGL_DRAW_ON_CPU1=n
CONFIG_SLAVE_CORE=n
CONFIG_MASTER_CORE=n
CONFIG_CACHE_ENABLE=y
CONFIG_SDCARD_HOST=n
CONFIG_SDCARD_BUSWIDTH_4LINE=n

CONFIG_LWIP=n
CONFIG_TOUCH=n
CONFIG_PWM=y
CONFIG_DMA2D=n


#CONFIG_WIFI4=n
#CONFIG_WIFI6=n
#CONFIG_WIFI6_IP_DEBUG=n
#CONFIG_WIFI6_CODE_STACK=n
CONFIG_SECURITYIP=n

CONFIG_IPERF_TEST=n
CONFIG_PERI_TEST=n
CONFIG_DHCP=n
CONFIG_MDNS=n
CONFIG_SM_FAST_CONNECT=n

CONFIG_HOMEKIT=n
CONFIG_LVGL=n
CONFIG_USB=n
CONFIG_LCD_DMA2D_BLEND_FONT=n
CONFIG_LCD=n
CONFIG_I2C=n
CONFIG_JPEGENC_HW=n
CONFIG_JPEGDEC_HW=n
CONFIG_QSPI=n
CONFIG_VIDEO_SCALE=n
CONFIG_VIDEO_QR_CODE_GEN=n

#CONFIG_RF_TEST=n
#CONFIG_TX_EVM_TEST=n
#CONFIG_RX_SENSE_TEST=n

