menu "Ota"
	config HTTP_AB_PARTITION
		bool "Enable Http AB Partition"
		default n
		help
			enable http update ab partition
	config OTA_UPDATE_DEFAULT_PARTITION
		bool "Enable Ota Update Default Partition"
		default n
		help
			enable ota update default partition
	config OTA_UPDATE_B_PARTITION
		bool "Enable Ota Update B Partition"
		default n
		help
			enable ota update b partition
endmenu
