menu "Demos::Media::Doorbell"
	config DOORBELL
		bool "Enable Doorbell"
		depends on MEDIA
		default n

	config DOORBELL_DEMO2
		depends on DOORBELL
		bool "Enable Doorbell Demo2"
		default n
endmenu
