menu "Demos::Media::Doorbell"
	config DOORBELL
		depends on MEDIA && WIFI_ENABLE
		bool "Enable Doorbell"
		default n

	config DOORBELL_DEMO2
		depends on DOORBELL
		bool "Enable Doorbell Demo2"
		default n
endmenu
