#
# Compile/Build
#
#CONFIG_TOOLCHAIN_PATH="/opt/risc-v/nds32le-elf-mculib-v5/bin"
CONFIG_LV_USE_DEMO_METER=y
CONFIG_LVGL=y
CONFIG_TP=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_USB=n
CONFIG_USB_HOST=n
CONFIG_USB2_PORT=n
CONFIG_LCD_QSPI=n
CONFIG_LCD_QSPI_TEST=n
CONFIG_LCD_DMA2D_BLEND_FLASH_IMG=n
# CONFIG_SLAVE_CORE_OFFSET 2555904 == 0x270000 in bk7256_cp1_bsp.ld
CONFIG_SLAVE_CORE_OFFSET=2555904
CONFIG_LV_USE_PERF_MONITOR=y
CONFIG_LV_COLOR_DEPTH=16
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_CACHE_CUSTOM_SRAM_MAPPING=y
CONFIG_CACHE_ENABLE=y
CONFIG_CUSTOMIZE_HEAP_SIZE=262144
CONFIG_LV_ATTRIBUTE_FAST_MEM=n
CONFIG_DUAL_CORE=n
CONFIG_MAILBOX=n
CONFIG_MASTER_CORE=n

CONFIG_JPEG_ENCODE=n
CONFIG_CAMERA=n

#
# USB configuration
#
CONFIG_USB=n

#
# USB
#
CONFIG_USB_HOST=n
# CONFIG_USB_DEVICE is not set
# CONFIG_USB1_PORT is not set
#CONFIG_TASK_USB_PRIO=5 is not set
CONFIG_USB_MSD=n
# CONFIG_USB_HID is not set
# CONFIG_USB_CCD is not set
# CONFIG_USB_UVC is not set
# CONFIG_USB_CHARGE is not set
# end of USB configuration

#
# SDCARD
#
CONFIG_SDCARD_HOST=n
CONFIG_SDCARD_BUSWIDTH_4LINE=n
# end of SDCARD

#
# FATFS
#
CONFIG_FATFS=n
# end of FATFS