menu "Demos::Media::Video"
	config JPEGDEC_SW
		bool "Enable SoftWare Jpeg Decode"
		default n
		help
			Enable jpeg_dec interface

	config JPEGDEC_LIBJPEG
		bool "Enable libjpeg"
		default n

	config SPIDMA
		bool "Enable Spi Dma"
		default n

endmenu