CONFIG_FATFS=n
CONFIG_JPEG_DECODE=n
CONFIG_FREERTOS_USE_TICKLESS_IDLE=0
CONFIG_CPU_FREQ_HZ=120000000
CONFIG_XTAL_FREQ=26000000
CONFIG_AON_MPU_REG_DUMP=y
CONFIG_SYS_PS_REG_DUMP=y
CONFIG_DEFAULT_CMSIS_START=n
CONFIG_TFM=n
CONFIG_AT_CMD=n
CONFIG_DEEP_PS=n
CONFIG_SPE=y
CONFIG_MCU_PS=n
CONFIG_STA_PS=n
CONFIG_INT_WDT=y
CONFIG_TASK_WDT=y
CONFIG_POWER_CLOCK_RF=n
CONFIG_RESET_REASON=n
CONFIG_BLUETOOTH=y
CONFIG_CM33_TEST=y
CONFIG_CLI_USER_CONFIG=n
CONFIG_CLI_USER_CONFIG_DIR="../../projects/verify/spe/config"
