CONFIG_DUAL_CORE=y
CONFIG_MASTER_CORE=y
CONFIG_MAILBOX=y
# CONFIG_SLAVE_CORE_OFFSET 35389440 == 0x21C0000 in bk7236_cpu1.ld
CONFIG_SLAVE_CORE_OFFSET=35389440
CONFIG_SLAVE_CORE_RESET_VALUE=1

CONFIG_SHELL_ASYNCLOG=y

CONFIG_CPU_WITHOUT_BOOTLOADER=y
CONFIG_FATFS=y
CONFIG_CPU_FREQ_HZ=120000000
CONFIG_XTAL_FREQ=26000000
CONFIG_AON_MPU_REG_DUMP=y
CONFIG_SYS_PS_REG_DUMP=y
CONFIG_DEFAULT_CMSIS_START=n
CONFIG_TFM=n
CONFIG_AT_CMD=n
CONFIG_DEEP_PS=n
CONFIG_SPE=1
CONFIG_PWM=n
CONFIG_CALENDAR=n
CONFIG_MCU_PS=y
CONFIG_INT_WDT=n
CONFIG_TASK_WDT=n
CONFIG_POWER_CLOCK_RF=n
CONFIG_RESET_REASON=n
CONFIG_BLUETOOTH=y
CONFIG_SPE_TEST=y
CONFIG_MPC_TEST=y
CONFIG_PRRO_TEST=y
CONFIG_INTERRUPT_TEST=y
CONFIG_AON_PMU_TEST=y
CONFIG_CLI_USER_CONFIG=n
CONFIG_CLI_USER_CONFIG_DIR="../../projects/verify/spe/config"
CONFIG_INT_AON_WDT=n
CONFIG_SPE_START=n
CONFIG_ARCH_INT_STATIS=n
CONFIG_I2S_TEST=y
CONFIG_SUPPORT_IRDA=n
CONFIG_FATFS=y
CONFIG_CHERRY_USB=n
#
# USB configuration
#
CONFIG_USB=y

#
# USB
#
CONFIG_USB_HOST=y
CONFIG_USB_DEVICE=n
# CONFIG_USB1_PORT is not set
CONFIG_TASK_USB_PRIO=5
CONFIG_USB_MSD=n
# CONFIG_USB_HID is not set
# CONFIG_USB_CCD is not set
CONFIG_USB_UVC=y
CONFIG_USB_UVC_DEBUG=n
CONFIG_UVC_OTA_DEMO=n
CONFIG_USB_UAC=y
CONFIG_USB_UAC_DEBUG=
CONFIG_USB_UAC_MIC=y
CONFIG_USB_UAC_SPEAKER=y
# CONFIG_USB_CHARGE is not set
# end of USB configuration

#
# Vendor configuration
#
CONFIG_VND_CAL=y

CONFIG_ANA_REG_WRITE_POLL_REG_B=n
