menu "MEDIA"
	config MEDIA
		bool "Enable media service"
		default n
	config WIFI_TRANSFER
		bool "Wifi transfer"
		depends on CAMERA
		default y
	config LVGL
		bool "enable lvgl"
		default n
	config LCD_FLASH_JPEG_DISPLAY 
		bool "enable lcd display flash img"
		default n
	config LCD_DMA2D_BLEND_FLASH_IMG 
		bool "enable lcd dma2d blend flash logo"
		default n
endmenu
