menu "USB configuration"

config USB
	bool "Enable USB"
	default n

menu "USB"
	depends on USB

	choice USB_PROTOCOL_STACK
		prompt "USB PROTOCOL STACK"
		default MENTOR_USB

		config MENTOR_USB
			bool "MENTOR_USB"
		config CHERRY_USB
			bool "CHERRY_USB"
	endchoice

	#TODO HOST/DEVICE mode mutual exclusive???
	choice USB_MODE
		prompt "Enable USB HOST mode"
		default USB_HOST

		config USB_HOST
			bool "USB Host Mode"
		config USB_DEVICE
			bool "USB Device Mode"
	endchoice

	choice USB_PORT
		prompt "Select USB Port"
		default USB2_PORT
		config USB1_PORT
			bool "USB1 port"
		config USB2_PORT
			bool "USB2 port"
	endchoice

	config TASK_USB_PRIO
		int "Priority of USB task"
		range 1 10
		default 5

	config USB_MSD
		bool "Enable USB MSD"
		default y

	config USB_HID
		bool "Enable USB HID"
		default n

	config USB_CCD
		bool "Enable USB CCD"
		default n

	config USB_UVC
		bool "Enable USB UVC"
		default n

	config USB_UVC_DEBUG
		bool "Enable USB UVC_DEBUG"
		default n

	config USB_UAC
		bool "Enable USB UAC"
		default n

	menu "USB_UAC"
		depends on USB_UAC

		config USB_UAC_DEBUG
			bool "Enable USB UAC_DEBUG"
			default n

		config USB_UAC_MIC
			bool "Enable USB UAC Mic"
			default n

		config USB_UAC_SPEAKER
			bool "Enable USB UAC Speaker"
			default n

	endmenu

	config USB_CHARGE
		bool "Enable USB Charge"
		default n

endmenu
endmenu

menu "DSP"
	config DSP
		bool "Enable DSP"
			default n
	#TODO delete it
	config DSP_SRC_ADD
		hex "DSP srouce address"
		default 0x130000
endmenu
