menu "Driver"
	source "${ARMINO_PATH}/middleware/driver/device/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/wdt/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/aon_wdt/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/uart/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/trng/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sdio_host/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sd_card/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/fatfs/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sdio/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/spi/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/qspi/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/rtc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/gpio/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/pmu/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/general_dma/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/touch/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sbc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/jpeg_enc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/jpeg_dec/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/psram/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/calendar/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/mpc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/prro/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sys_ctrl/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/phy/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/i2s/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/i2c/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/audio/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/pwm/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/icu/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/timer/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/saradc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/flash/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/h264/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sdmadc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/pwr_clk/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/vault/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/otp/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/fft/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/hw_rotate/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/yuv_buf/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/lcd/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/irda/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/camera/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/reset_reason/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/efuse/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/mailbox/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/tp/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/dma2d/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/chip_support/Kconfig"
endmenu
