menu "Driver"

	menu "SOFTWARE_SUPPORT_CHIP"
		config CHIP_SUPPORT
			bool "Enable chip support"
			default n
	endmenu
	
	menu "Interrupt"
		config ISR_REG_DISABLE
			bool "Disable irq"
			default n
	endmenu

	source "${ARMINO_PATH}/middleware/driver/wdt/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/aon_wdt/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/uart/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/trng/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sdio_host/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sdcard/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sd_card/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/fatfs/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sdio/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/spi/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/qspi/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/rtc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/gpio/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/pmu/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/general_dma/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/touch/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sbc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/jpeg_enc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/psram/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/calendar/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/mpc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/prro/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/sys_ctrl/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/phy/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/i2s/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/i2c/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/i2s/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/pwm/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/icu/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/timer/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/saradc/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/flash/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/pwr_clk/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/vault/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/otp/Kconfig"
	source "${ARMINO_PATH}/middleware/driver/jpeg_dec/Kconfig"

	config LCD
		bool "Enable LCD"
		default n

	config LCD_GC9503V
		depends on LCD
		bool "Enable LCD_GC9503V API"
		default n

	config LCD_H050IWV
		depends on LCD
		bool "Enable LCD_H050IWV API"
		default n

	config LCD_HX8282
		depends on LCD
		bool "Enable LCD_HX8282 API"
		default n

	config LCD_MD0430R
		depends on LCD
		bool "Enable LCD_MD0430R API"
		default n

	config LCD_MD0700R
		depends on LCD
		bool "Enable LCD_MD0700R API"
		default n

	config LCD_NT35512
		depends on LCD
		bool "Enable LCD_NT35512 API"
		default n

	config LCD_NT35510
		depends on LCD
		bool "Enable LCD_NT35510 API"
		default n

	config LCD_NT35510_MCU
		depends on LCD
		bool "Enable LCD_NT35510_MCU API"
		default n

	config LCD_ST7282
		depends on LCD
		bool "Enable LCD_ST7282 API"
		default n

	config LCD_ST7796S
		depends on LCD
		bool "Enable LCD_ST7796S API"
		default n

	config LCD_ST7710S
		depends on LCD
		bool "Enable LCD_ST7710S API"
		default n
		
	config LCD_ST7701S
		depends on LCD
		bool "Enable LCD_ST7701S API"
		default n

	config LCD_QSPI
		bool "Enable LCD QSPI"
		default n

	config LCD_QSPI_SH8601A
		depends on LCD_QSPI
		bool "Enable LCD_QSPI_SH8601A API"
		default n

	config LCD_QSPI_ST77903
		depends on LCD_QSPI
		bool "Enable LCD_QSPI_ST77903 API"
		default n

	config MAC_PHY_BYPASS
		bool "Enable MAC/PHY by pass mode"
		default y

	config SUPPORT_IRDA
		bool "Enable IRDA"
		default y

	config MAILBOX
		bool "Enable mail_box"
		default n

	config TP
		bool "Enable TP"
		default n

	config DMA2D
		bool "Enable DMA2D"
		default n

	config YUV_BUF
		bool "Enable yuv_buf"
		default n

	config EFUSE
		bool "Enable efuse"
		default y
	
	config FFT
		bool "Enable fft"
		default n

	config AUDIO_RISCV_IP_V1_0
		bool "Enable audio riscv driver"
		default n

	config AUDIO_DSP_IP_V1_0
		bool "Enable audio dsp driver"
		default n

	config CHANGE_JTAG_GPIO
		bool "Enable change jtag group"
		default n

	config RESET_REASON
		bool "Enable reset reason"
		default y

	config LCD_POWER_GPIO_CTRL
		bool "Enable lcd power gpio ctrl"
		default n

	config LCD_BACKLIGHT_GPIO_CTRL
		bool "Enable lcd backlight gpio ctrl"
		default n

	config CAMERA_POWER_GPIO_CTRL
		bool "Enable camera power gpio ctrl"
		default n
endmenu
