#TODO add depens for CONFIG_HOST (bk7231u)
menu "Lwip_intf_v2_1"

	config IPV6
		bool "Enable IPV6"
		default n

	config WIFI_FAST_DHCP
		bool "Enable Wifi Fast Dhcp"
		default n
		help
			Enable Fast DHCP(use previous IP)

	config MQTT_ACK_NOW
		bool "Enable Mqtt Ack Now"
		default y
		help
			Enable ACK_NOW if MQTT is open

	config LWIP
		depends on WIFI_ENABLE
		bool "Enable LWIP"
		default y

	menu "Modify Lwip Config"
		depends on LWIP

		config DHCP
			depends on WIFI_ENABLE
			bool "Enable DHCP"
			default y
		
		config AUTOIP
			bool "Enable AUTOIP"
			default n

		config MDNS
			bool "Enable MDNS"
			default n

		config TASK_LWIP_PRIO
			depends on WIFI_ENABLE
			int "Set Task Lwip Prio"
			range 1 10
			default 4
			help
				Priority of LwIP task

		config MIDEA
			bool "Enable MIDEA"
			default n

		#TODO optimize it
		choice LWIP_MEM
			prompt "Select Lwip Mem Policy"
			default LWIP_MEM_DEFAULT

			config LWIP_MEM_DEFAULT
				bool "LWIP_MEM_DEFAULT"
				help
					Default Memory Policy
			config LWIP_MEM_REDUCE
				depends on WIFI_ENABLE
				bool "LWIP_MEM_REDUCE"
				help
					Reduced Memory Policy
		endchoice
	endmenu

endmenu
