CONFIG_FATFS=n
CONFIG_FREERTOS_USE_TICKLESS_IDLE=0
CONFIG_CPU_FREQ_HZ=120000000
CONFIG_XTAL_FREQ=26000000
CONFIG_AON_MPU_REG_DUMP=y
CONFIG_SYS_PS_REG_DUMP=y
CONFIG_DEFAULT_CMSIS_START=n
CONFIG_TFM=n
CONFIG_AT_CMD=y
CONFIG_DEEP_PS=n
CONFIG_SPE=1
CONFIG_PWM=n
CONFIG_CALENDAR=n
CONFIG_MCU_PS=n
CONFIG_INT_WDT=y
CONFIG_TASK_WDT=y
CONFIG_POWER_CLOCK_RF=n
CONFIG_RESET_REASON=n
CONFIG_BLUETOOTH=y
CONFIG_SPE_TEST=n
CONFIG_MPC_TEST=n
CONFIG_PRRO_TEST=n
CONFIG_INTERRUPT_TEST=n
CONFIG_AON_PMU_TEST=n
CONFIG_CLI_USER_CONFIG=n
CONFIG_CLI_USER_CONFIG_DIR="../../projects/verify/spe/config"
CONFIG_INT_AON_WDT=n
CONFIG_SPE_START=n
CONFIG_ARCH_INT_STATIS=n
CONFIG_I2S_TEST=n


CONFIG_BT=y
CONFIG_APP_DEMO_VIDEO_TRANSFER=n
CONFIG_AUDIO=n


#
# Feature fast connect
#
CONFIG_WIFI_FAST_CONNECT=n
CONFIG_WIFI_FAST_DHCP=n
CONFIG_IPV6=n
CONFIG_SAVE_BOOT_TIME_POINT=n

#
# System
#
CONFIG_DUAL_CORE=n
CONFIG_MAILBOX=n

CONFIG_USB=n
CONFIG_SBC=n
CONFIG_SBC_TEST=n
CONFIG_MEM_DEBUG=n

CONFIG_WIFI_ENABLE=y
CONFIG_LWIP=y
CONFIG_LWIP_V2_1=n
CONFIG_ALI_MQTT=n
CONFIG_HTTP=y
CONFIG_LCD=n
CONFIG_IPERF_TEST=y
CONFIG_BK_NETIF=y
CONFIG_DEMOS_IPERF=y
CONFIG_H264=n
CONFIG_CLI=y
CONFIG_CAMERA_TEST=n
CONFIG_PSRAM_TEST=n
CONFIG_SDMADC_TEST=n
CONFIG_DMA2D_TEST=n
CONFIG_AUDIO_TEST=n
CONFIG_AON_RTC_TEST=n
CONFIG_JPEG_DECODE=n
CONFIG_JPEG_ENCODE=n
CONFIG_JPEG_DEC=n
CONFIG_YUV_BUF=n
CONFIG_MEDIA=n
CONFIG_CAMERA=n
