menu "PSRAM"
	config PSRAM
		bool "Enable PSRAM"
		default n

	config PSRAM_AS_SYS_MEMORY
		depends on PSRAM
		bool "Enable psram_malloc API"
		default n

	config PSRAM_HEAP_BASE
		depends on PSRAM_AS_SYS_MEMORY
		hex "Set psram_malloc base address"
		default 0x60700000
		help
			The psram address is from 0x60100000 to 0x60800000 in BK7256
			The suggested option is 0x60600000 or 0x60700000

	config PSRAM_HEAP_SIZE
		depends on PSRAM_AS_SYS_MEMORY
		hex "Set psram heap size"
		default 0x100000
		help
			0x100000 - 1M
			The max size is 0x800000 in BK7256
			The suggested option is 0x100000 or 0x200000
endmenu

