
CONFIG_DUAL_CORE=n
CONFIG_MAILBOX=n
CONFIG_PSRAM_AS_SYS_MEMORY=n
CONFIG_MEM_DEBUG=n

#
# Video transfer
#
CONFIG_JPEG_ENCODE=n
CONFIG_CAMERA=n
CONFIG_USE_APP_DEMO_VIDEO_TRANSSER=n
CONFIG_APP_DEMO_VIDEO_TRANSFER=n
CONFIG_NET_WORK_VIDEO_TRANSFER=n
CONFIG_CAMERA_USE_I2C0=n
#
#end of Video transfer

CONFIG_BT=y