menu "EASY_FLASH"
	config EASY_FLASH
		bool "Enable Easy Flash"
		default n

	config EF_START_ADDR
		depends on EASY_FLASH
		hex "Easy_flash indicates the start address"
		range 0 FFFFFFFF
		default FFFFFFFF

	choice EASY_FLASH_VER
		depends on EASY_FLASH
		prompt "EASY_FLASH Version"
		default EASY_FLASH_V4

		config EASY_FLASH_V4
			bool "EASY_FLASH v4.1.0"
		config EASY_FLASH_V3
			bool "EASY_FLASH v3.0.4"
	endchoice
endmenu