config ARCH_CM33
	bool "Enable Cortex-M33"
	default n
	
menu "ARCH_CORTEX_M33"
	depends on ARCH_CM33

	config FPGA
		bool "Enable FPGA"
		default n
	
	config SPE
		int "Enable SPE"
		default 0

        config CPU_FREQ_HZ
                int "CPU frequency"
                default 120000000

	config ARCH_INT_STATIS
		bool "Enable interrupt statis"
		default n
endmenu
