menu "ARCH_CORTEX_M33"
	config ARCH_CM33
		bool "Enable Cortex-M33"
		default n
	
	config FPGA
		bool "Enable FPGA"
		default n
	
	config SPE
		bool "Enable SPE"
		default n

        config CPU_FREQ_HZ
                int "CPU frequency"
                default 120000000
endmenu
