
# LITEOS_M
CONFIG_LITEOS_M_V3=y
CONFIG_LITEOS_M_BK=y

# FreeRTOS
CONFIG_FREERTOS=n
CONFIG_FREERTOS_V9=n
CONFIG_FREERTOS_V10=n

# System
#CONFIG_DUAL_CORE=n
#CONFIG_MASTER_CORE=n
#CONFIG_NEST_INT_SUPPORT=n

# TODO currently we don't support dynamically disable/enable WPA3
# since it's totally configured in properties layer!
#CONFIG_WPA3=n

