#Custom should not modify this config
#The value config in bk7258.config will over write the bk7258.defconfig here for armino internal libs.

CONFIG_DUAL_CORE=y
CONFIG_MASTER_CORE=y
CONFIG_MAILBOX=y

#
# ARMINO Configuration
#
CONFIG_CACHE_ENABLE=y
CONFIG_MEM_DEBUG=y

#
# Audio
#
CONFIG_AUDIO_AEC=y
CONFIG_AUDIO_G711=y
CONFIG_AUDIO_MP3=y
CONFIG_AUDIO_OPUS=y
CONFIG_AUDIO_RING_BUFF=y
CONFIG_AUDIO_RSP=y
CONFIG_AUDIO_VAD=y
CONFIG_AUDIO_NS=y
CONFIG_AUDIO_FLAC=y
CONFIG_AUDIO_OGG=y
CONFIG_AUDIO_ADPCM=y
# end of Audio