# FreeRTOS
CONFIG_FREERTOS=n

# NON_OS
CONFIG_NON_OS=y

# WDT
CONFIG_INT_WDT=n
CONFIG_TASK_WDT=n

#CONFIG_BK_NETIF=n
#CONFIG_LWIP=n
CONFIG_DEMOS_IPERF=n
CONFIG_HTTP=n
CONFIG_OTA_TFTP=n
CONFIG_OTA_HTTP=n
CONFIG_AT_CMD=n
#CONFIG_ATE=n
CONFIG_IPERF_TEST=n
#CONFIG_SHELL_ASYNCLOG=n
CONFIG_WIFI_ENABLE=n
CONFIG_STA_PS=n

