menu "LCD"
	config LCD
		bool "Enable LCD"
		default n

	config LCD_GC9503V
		depends on LCD
		bool "Enable LCD_GC9503V API"
		default n

	config LCD_H050IWV
		depends on LCD
		bool "Enable LCD_H050IWV API"
		default n

	config LCD_HX8282
		depends on LCD
		bool "Enable LCD_HX8282 API"
		default n

	config LCD_MD0430R
		depends on LCD
		bool "Enable LCD_MD0430R API"
		default n

	config LCD_MD0700R
		depends on LCD
		bool "Enable LCD_MD0700R API"
		default n

	config LCD_NT35512
		depends on LCD
		bool "Enable LCD_NT35512 API"
		default n

	config LCD_NT35510
		depends on LCD
		bool "Enable LCD_NT35510 API"
		default n

	config LCD_NT35510_MCU
		depends on LCD
		bool "Enable LCD_NT35510_MCU API"
		default n

	config LCD_ST7282
		depends on LCD
		bool "Enable LCD_ST7282 API"
		default n

	config LCD_ST7796S
		depends on LCD
		bool "Enable LCD_ST7796S API"
		default n

	config LCD_ST7710S
		depends on LCD
		bool "Enable LCD_ST7710S API"
		default n

	config LCD_ST7701S
		depends on LCD
		bool "Enable LCD_ST7701S API"
		default n

	config LCD_ST7701S_LY
		depends on LCD
		bool "Enable LCD_ST7701S API"
		default n

	config LCD_QSPI
		bool "Enable LCD QSPI"
		default n

	config LCD_QSPI_SH8601A
		depends on LCD_QSPI
		bool "Enable LCD_QSPI_SH8601A API"
		default n

	config LCD_QSPI_ST77903
		depends on LCD_QSPI
		bool "Enable LCD_QSPI_ST77903 API"
		default n

	config LCD_QSPI_ST77903_SAT61478M
		depends on LCD_QSPI
		bool "Enable LCD_QSPI_ST77903_SAT61478M API"
		default n

	config LCD_QSPI_PIXEL_DEPTH_BYTE
		depends on LCD_QSPI
		int "Set LCD QSPI Pixel Depth Byte"
		default 3
		help
			2 - RGB565
			3 - RGB888

	config LCD_QSPI_CUSTOM
		depends on LCD_QSPI
		bool "Enable LCD_QSPI_CUSTOM API"
		default n

	config LCD_POWER_GPIO_CTRL
		bool "Enable lcd power gpio ctrl"
		default n

	config LCD_BACKLIGHT_GPIO_CTRL
		bool "Enable lcd backlight gpio ctrl"
		default n
endmenu