CONFIG_LVGL=y
CONFIG_TP=y
CONFIG_LVGL_DEMO=y
CONFIG_BLUETOOTH=n
CONFIG_USB=n
CONFIG_USB_HOST=n
CONFIG_USB2_PORT=n
#use blend function, you can only select CONFIG_BLEND_USE_GUI or CONFIG_LCD_DMA2D_BLEND_FLASH_IMG
CONFIG_BLEND_USE_GUI=n
CONFIG_BLEND_GUI_OUTPUT_888=n

CONFIG_LCD_DMA2D_BLEND_FLASH_IMG=n