
CONFIG_WIFI_FAST_CONNECT=n
CONFIG_WIFI_FAST_DHCP=n
CONFIG_IPV6=n
CONFIG_SAVE_BOOT_TIME_POINT=n

CONFIG_DUAL_CORE=n
CONFIG_MAILBOX=n

CONFIG_USB=n
CONFIG_SBC=y
CONFIG_SBC_TEST=n
CONFIG_MEM_DEBUG=n
#CONFIG_BT=y
#CONFIG_BLE=n
CONFIG_AAC_DECODER=y
#CONFIG_A2DP_SINK_DEMO=y
CONFIG_A2DP_SOURCE_DEMO=y
#CONFIG_HFP_HF_DEMO=y


#
# Compile/Build
#
#CONFIG_TOOLCHAIN_PATH="/opt/risc-v/nds32le-elf-mculib-v5/bin"

CONFIG_LVGL_DRAW_ON_CPU1=n

CONFIG_USB_HOST=n
CONFIG_USB2_PORT=n
CONFIG_LCD_QSPI=n
CONFIG_LCD_QSPI_TEST=n

CONFIG_BLEND_USE_GUI=n
CONFIG_BLEND_GUI_OUTPUT_888=n
CONFIG_LCD_DMA2D_BLEND_FLASH_IMG=n


# CONFIG_SLAVE_CORE_OFFSET 2555904 == 0x270000 in bk7256_cp1_bsp.ld
CONFIG_SLAVE_CORE_OFFSET=2555904

CONFIG_CACHE_CUSTOM_SRAM_MAPPING=y
CONFIG_CACHE_ENABLE=y
CONFIG_CUSTOMIZE_HEAP_SIZE=262144
CONFIG_MASTER_CORE=n

CONFIG_JPEGENC_HW=n
CONFIG_DVP_CAMERA=n
CONFIG_UVC=n
CONFIG_USB_MSD=n

CONFIG_SDCARD_HOST=n
CONFIG_SDCARD_BUSWIDTH_4LINE=n
# end of SDCARD

#
# FATFS
#
CONFIG_FATFS=y
# end of FATFS

#
#WI-FI
#
CONFIG_WIFI_ENABLE=n
CONFIG_IPERF_TEST=n
CONFIG_BK_NETIF=n
CONFIG_HTTP=n
CONFIG_DEMOS_IPERF=n
CONFIG_LWIP_V2_1=n
CONFIG_OTA_HTTP=n
CONFIG_WIFI_TRANSFER=n
CONFIG_USE_APP_DEMO_VIDEO_TRANSSER=n
CONFIG_APP_DEMO_VIDEO_TRANSFER=n
CONFIG_NET_WORK_VIDEO_TRANSFER=n
CONFIG_DOORBELL=n
CONFIG_WIFI6_CODE_STACK=n
CONFIG_WIFI6=n
CONFIG_WIFI4=n
CONFIG_WIFI6_IP_DEBUG=n
CONFIG_MAC_BSSID=n
CONFIG_LWIP=n
CONFIG_DHCP=n
CONFIG_TASK_LWIP_PRIO=n
CONFIG_LWIP_MEM_REDUCE=n
CONFIG_ALI_MQTT=n
CONFIG_BSSID_CONNECT=n

#for a2dp source
#CONFIG_FATFS_SDCARD=n
#CONFIG_SDIO=n
#CONFIG_SDIO_HOST=n

CONFIG_LCD=n
CONFIG_DMA2D=n
CONFIG_JPEGDEC_SW=n
CONFIG_WEBCLIENT=n
CONFIG_TOUCH=n
CONFIG_QSPI=n
CONFIG_I2C=n
CONFIG_TOUCH_TEST=n
CONFIG_DVP_CAMERA_TEST=n
CONFIG_QRCODEGEN_TEST=n
CONFIG_PWM=y
CONFIG_SIM_I2C=n
CONFIG_JPEGDEC_HW=n
CONFIG_TOUCH_INTERNAL_SERIAL_CAP=n
CONFIG_SPI_DMA=n
CONFIG_SPI_SLAVE=n
CONFIG_SPI_MASTER=n
CONFIG_SPI_STATIS=n
CONFIG_PSRAM_TEST=n
CONFIG_LCD_POWER_GPIO_CTRL=n
CONFIG_CAMERA_POWER_GPIO_CTRL=n

