#TODO remove all kconfigs which are defined in armino libs

menu "bk_thirdparty"

    config CS2_P2P_SERVER
        bool "Enable CS2 P2P server"
        default n
        help
        Enable CS2 P2P lib server

    config CS2_P2P_CLIENT
        bool "Enable CS2 P2P client"
        default n
        help
        Enable CS2 P2P lib client

    config CS2_P2P_TEST
        bool "Enable CS2 P2P Test"
        default n
        help
        Enable CS2 P2P lib test

endmenu
